@import './../../variables.scss';

.inputRadio {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    border-radius: 5px;
    background-color: $main_bcg;
}

.inputRadio:last-child {
    margin-bottom: 0;
}