.navList {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

.navItem {
  display: flex;
  align-items: center;
  height: 24px;
  margin-right: 5px;
  color: var(--main);
  border-radius: 100px;
  background-color: rgba(232, 33, 39, 0.1);
}

.navItem:last-child {
  margin-right: 0;
}

.navItem::before {
  color: var(--main);
  content: "•";
  padding-right: 5px;
}