@import "./../../variables.scss";

.title {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}

.iconArrowTitle {
  vertical-align: middle;

  & path {
    fill: $main;
  }
}

.radio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 45px;

  @media (min-width: $desktop-width) {
    gap: 16px;
  }
}

.modalBottom {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.modalBottomPercent {
  font-size: 18px;
  font-weight: 500;
  color: $text_grey;
}

.modalBottom a, button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 100px;
  min-height: 35px;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  background-color: $main;
  color: $basic_white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px $main;
  cursor: pointer;

  &:hover {
    opacity: 0.8;

  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    background-color: $radio_disabled;
    box-shadow: 0px 0px 4px 0px $radio_disabled;
    opacity: 0.4;
  }

  &:disabled:hover {
    opacity: 0.3;
  }

  &:disabled:active {
    opacity: 0.2;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}

.button .span {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.iconArrow path {
  fill: $basic_white;
}
