@import './../../variables.scss';

.modalWrapper {
  padding: 25px;
  box-shadow: 0px 0px 8px 0px lightgrey;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 100%;
    max-width: 864px;
  }
}

.modalBottom {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.modalBottomPercent {
  font-size: 14px;
  font-weight: 300;
  color: $text_grey;
}

.description {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.modalWrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 100px;
  min-height: 35px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-decoration: none;
  background-color: $main;
  color: $basic_white;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px $main;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.iconCheck path {
  fill: $basic_white;
}
