@import './../../variables.scss';

.navList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

.navItem {
  display: flex;
  align-items: center;
  height: 24px;
  margin-right: 5px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: $main;
  border-radius: 100px;
  background-color: $main_bcg;
}

.navItem:last-child {
  margin-right: 0;
}

.navItem::before {
  color: $main;
  content: "•";
  font-size: 25px;
  padding-right: 5px;
}