@import "./../../variables.scss";

.logoWrapper {
  display: inline-block;

  @media (min-width: $desktop-width) {
    margin-top: 30px;
    margin-left: 30px;
  }
  
  &:hover path {
    fill: $main_active;
  }
}

.pageHeaderLogo path {
  fill: $main;
}

.pageHeaderLogo {
  &:active {
    opacity: 0.6;
  }
}
