@import "./../../variables.scss";

.logoWrapper {
  display: inline-block;
  
  &:hover path {
    fill: $main_active;
  }
}

.pageHeaderLogo path {
  fill: $main;
}

.pageHeaderLogo {
  &:active {
    opacity: 0.6;
  }
}
