/* Fonts */

/* @font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'),
       url('../fonts/PTSans.woff2') format('woff2'),
       url('../fonts/PTSans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'),
       url('../fonts/PTSans-Bold.woff2') format('woff2'),
       url('../fonts/PTSans-Bold.woff') format('woff');
} */

/* Root */

:root {
	--main: #e82127;
}

.page-wrapper {
  max-width: 540px;
  margin: 0 auto;
  padding-right: 5px;
  padding-left: 5px;
  box-sizing: border-box;
}

.contentColor {
  color: var(--main);
}
