// Theme colors
$main: #e82127;
$main_bcg: #fde9e9;
$main_active: #970B0E;

// Basic colors
$basic_white: #ffffff;

// Text colors
$text_black: #212529;
$text_grey: #a3a3a3;

// StatusBar colors
$emptyBar: #a4a4a4;

// Radio colors disabled
$radio_disabled: #9b9b9b;

// Viewprts
$tablet-width: 768px;
$desktop-width: 1200px;
